body {
    background-color: #fafafa;
    padding: 0 40px;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 12px;
}


#phim {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;
  justify-content: center;
}

/* 2. Style cho mỗi div chứa thông tin 1 phim */
#phim > div {
  background-color: #181818; 
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ecf0f1;
  min-height: 350px; 
}

/* 3. Hiệu ứng khi di chuột qua mỗi phim */
#phim > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border: 1px solid #3498db;
}

/* 4. Style cho ảnh poster */
.phim-poster {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 24px;
}

/* 5. Style cho Tiêu đề (Tên phim) */
#phim h2 {
  font-size: 1.1em;
  margin: 5px 0;
}
#phim p {
  font-size: 0.9em;
  color: #bdc3c7;
  margin: 5px 0 0 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items:end;
  margin: 20px 0;
  gap: 5px; 
}
.pagination {
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 8px 12px; 
  background-color: #fff;
  color: #333; 
  cursor: pointer; 
  transition: all 0.3s ease;
  font-size: 16px;
}